

@media (max-width: 768px) {
    
    header label {
        display: block;
    }

    nav {
        display: none;
        position: fixed;
        padding: .5em ;
        top: 4.9em;
        z-index: 1000;
        background: hsl(0, 0%, 100%, 0.5);
        backdrop-filter: blur(0.2em);
        right: 0px;
        width: 100%;
    }

    nav a {
        color: #505050;
    }
}

/* tablet style */

@media (min-width: 481px) and (max-width: 768px) {

    main {
        max-width: 768px;
    }

    .page {
        margin: 0 2em;
    }

    nav ul {
        display: flex;
        justify-content: space-around;
    }

    .header-wrap {
        margin-bottom: 0;
    }

    .wrap-container {
        margin: 0 1.5rem;
    }

    .wrap-one {
        margin: 0 3em;
    }

    .hero-content {
        top: 3em;
        left: 2em;
    }

    .hero-img h1 { 
        line-height: 1.2;
    }

    .hero-img-game {
        top: 6em;
        right: 2em;
    }

    .product-img img {
        display: none;
    }

    .new-releases {
        display: block;
    }

    .wrap {
        flex-direction: column;
    }

    .assasin-img {
        display: none;
    }

    .banner-txt {
        font-size: 2.2rem;
    }

    .game-banner {
        margin: 0 1.5em;
    }

    .banner-text-wrap img {
        max-height: 250px;
        align-self: flex-end;
    }

    .banner-wrapper > * {
        text-align: center;
    }

    .game-banner-racing {
        background-position: center;
    }
    
    .banner-text-wrap h4 {
        font-size: 1.8rem;
    }
        
    header,
    footer {
        margin: 0 1em;
    }

    .grid-container {
       display: grid;
       grid-template: repeat(2, 1fr) / repeat(2, 1fr) ;
    }
       
    .product-card-wrapper article {
        display: none;
    }
    
    .product-card-wrapper {
        flex-wrap: wrap;
        gap: 1em;
        margin: 0 1em;
    }

    /* product page */

    .content-wrap {
        margin-top: 2em;
    }

    .article {
        padding: 0 1em;
        line-height: 1.6;
    }

    .product-image {
        padding: 1.5em 0.5em 0 0;
    }

    .article  {
        font-size: 15px;
    }

    .rating h1,
    .fa-star{
        margin: 0;
    }

    .rating {
        margin-top: 1em;
    }

    .product-price {
        margin: 0;
    }

    /* cart */

    .cta-btn {
        white-space: nowrap;
    }

    .fa-brands {
        font-size: 2.5rem;
    }

    .summary-elements p {
        margin: 0;
    }

    .total h4 {
        margin: 1em 0 .5em 0;
    }
    
    /* order succsessful */

    .order-success {
        line-height: 1.2;
    }

    .contact {
        margin: 2em;
        line-height: 1.4;
    }
    
    /* footer */

    .social-media-icons i {
        font-size: 1.8rem;
    }

    .footer-social {
        margin-top: 1.2em;
    }

    .footer-container {
        margin-top: 2em;
    }

    .footer-menu ul {
        padding: 0 0.5em 1em 0.5em;
        font-size: 0.9rem;
    }

    .copyright {
        margin-top: 1em;
    }
}

/*  mobile style  */

@media (max-width: 480px) {

    * {
        line-height: 1.5;
    }
    
    .header-wrap {
        margin-bottom: 0;
    }
    
    nav {
        display: none;
        top: 4.7em;
    }

    nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    nav a {
        display: block;
        padding: 1em 0;
    }

    header,
    main,
    .page,
    footer {
        max-width: 479px;
        margin: 0 1em;
    }
    
    .hero-img {
        min-height: 40vh;
        background-position: left;
    }

    span,
    .hero-img h1,
    .product-img img  {
        display: none;
    }

    .hero-img-game {
        top: 0;
        left: 0;
        margin: 4em 2em;
        max-width: 40%;
    }


    .hero-content {
        top: 20em;
        left: 2em;
        max-height: fit-content;
    }

    .wrap {
        flex-direction: column;
        gap: 0;
        margin: 1em .5em;
    }
    
    .new-releases {
       display: block;
    }
        
    .new-releases h3 {
        font-size: 1.3rem;
    }

    .long-description {
        display: none;
    }

    .short-description {
        display: block;
        font-size: 1.2rem;
    }

    .product-card {
        padding: 1em;
    }

    .banner-txt {
        margin: 0;
    }

    .banner-wrapper > * {
        text-align: center;
    }

    .banner-text-wrap h4 {
        font-size: 1.5rem;
        line-height: 0.8;
    }

    .banner-text-wrap {
        padding: 0 0 0 .5em;
    }

    .game-banner {
        margin: 0 0.5em;
    }

    .banner-wrapper img {
        margin: 0;
    }
    
    .assasin-img {
        display: none;
    }
        
    .game-banner-racing {
        background-position: center;
    }

    .game-banner-racing img {
        max-height: 200px;
    }

    .banner-text-race {
        align-self: flex-start;
        margin-top: 0;
    }
        
    /* all games */

    .new-releases-games {
        flex-direction: row;
    }

    .grid-container {
        display: grid;
        gap: 1em;
        grid-template: repeat(2, 1fr) / repeat(2, 1fr) ;
    }
        
    .product-card-wrapper article {
       display: none;
    }

    /*  product page */ 

    .content-wrap {
        flex-direction: column;
    }

    .article,
    .product-image {
        padding: 2em 1em 0 1em;
    }

    .product-cta {
        display: block;
        text-align: center;
        margin: 2em 3em 0 3em;
    }

    .rating h1,
    .fa-star{
        margin: 0;
    }

    .rating {
        margin-top: 1em;
    }

    .product-price {
        margin-top: 1em;
    }

    /* cart */

    .quantity-items p{
        padding: 0;
    }

    .form-wrapper {
        grid-template-columns: 1fr;
    }

    .fa-brands {
        font-size: 2.5rem;
    }

    /* order succsessful */

    .order-success {
        line-height: 1.2;
        margin: 2em 1em;
    }

    .background-img {
        display: none;
    }

    .about {
        line-height: 1.5;
        margin: 0 1.5em;
    }

    .about li {
        margin: 0 ;
    }

    .support-info {
        margin: 1em;
    }

    /*  footer */

    .footer-container {
        margin-top: 2em;
    }
        
    footer {
        grid-template-columns: 1fr;
        gap: 0;
        justify-items: center;
    }

    footer img {
        max-width: 200px;
    }
        
    .footer-social {
        margin-top: 0;
    }

    .footer-menu ul {
        border-bottom: none;
    }

    .footer-menu ul {
        display: block;
        text-align: center;
    }

    .social-media-icons i {
        font-size: 1.8rem;
    }
}

    













    


    









        






    

   


    












