/* Use import to split up your CSS into manageable chunks */
@import url("./reset.css");
/* Files that are only needed to be imported are called partials */
/* These are marked with an underscore: */
@import url("./variables.css");
/* Feel free to add as many of these imports as you need */
* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  background-color: #e9e7e7;
  color: #282727;
  line-height: 1.7rem;
}

h3 {
  margin: 0;
}

/* header */

.header-wrap {
  background-image: linear-gradient( rgba(255,0,0,0), #d4d4d6);
  margin-bottom: 3em;
}

header {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
}

nav {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.logo img {
  width: 100%;
  height: auto;
  max-width: 99px;
}

nav li {
  display: inline-block;
  padding: 0 1em;
  
}


.active {
  text-decoration: underline;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul a {
  transition: all 0.5s ease 0s;

}

a {
  text-decoration: none;
}

ul a:hover {
  color: #d3161c;
  font-weight: 600;
}

nav a,
footer a {
  color: #252c52;
}

/* main */

main {
  max-width: 1000px;
  margin: 0 auto;
}

.hero-img {
  background: url("../assets/images/hero.jpg") center top no-repeat;
  background-size: cover;
  box-shadow: var(--banner-shadow);
  margin: 3em auto;
  min-height: 40vh;
  position: relative;
}


.new-releases {
  background-image: linear-gradient( to right, #1A588D , #A3542E, #335966);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: var(--banner-shadow);
}

.new-releases > * {
  flex: 1;
  text-align: center;
}

.video img {
  display: block;
  width: 100%;
}

.container {
  
  display: flex;
  padding: 1.5em;
  
}

.new-releases img {
  max-width: 100%;
  
}

/* second section*/

.wrap {
  margin: 3em auto;
  display: flex;
  gap: 2em;
}

.wrap img {
  max-width: 100%;
}

.wrap-one h2 {
  margin: 0;
}


.best-sellers,
.special-offers {
  display: flex;
  gap: 2em;
  
}


.product-card {
  background-color: #F3F0F0;
  box-shadow: var(--box-shadow);
  border-radius: 5px;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.black img{
  display: block;
}
.product-card h4 {
  margin: .5em 0;
}

.product-card p {
  font-weight: 500;
  margin-top: 0;
}

.sale {
  color: #d3161c;
}

.cta-button {
  background-image: linear-gradient(#2e3d9d, #cb55b0);
  color: white;
  padding: 0.5em 2em;
  border-radius: 8px;
  font-weight: 500;
  letter-spacing: 1px;
  white-space: nowrap;
  cursor: pointer;
}

.float {
  float: right;
  color: #5a5959;
}
/* banner */

.game-banner {
  margin: 3em auto;
  
}

.banner-wrapper {
  margin: 0 auto 1.5em auto;
  background-image: linear-gradient( to right, #1A588D , #A3542E, #335966);
  display: flex;
  justify-content: space-between;
  gap: 1em;
  align-items: center;
  box-shadow: var(--banner-shadow);
}


.banner-wrapper > * {
  flex: 1;
  text-align: left;
}

.banner-text-wrap {
  display: flex;
  align-items: center;
}

.banner-txt {
  color: #F8AA00;
  font-size: 3rem;
  margin-bottom: 1em;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-shadow: 0px 0px 2px rgb(5, 5, 5, 0.2);
}

.banner-text-wrap h4 {
  font-size: 2rem;
  margin: .5em 0;
  color: #000000;
  text-shadow: 0px 0px 2px rgba(208, 207, 207, 0.15);

}



.banner-text-wrap img {
  max-width: 100%;
}

.banner-text-wrap > * {
  flex: 1;
}

.banner-wrapper img {
  max-width: 100%;
  padding: 1.5em;
}



.game-banner-racing {
  background: url(../assets/images/racing.jpg) center no-repeat;
  background-size: cover;
  max-height: 250px;
  margin: 6em auto 1.5em auto;
  display: flex;
  justify-content: space-between;
  box-shadow: var(--banner-shadow);
  background-position: center calc(100% - -95px);
}

.game-banner-racing img {
  max-height: 250px;
  padding: 1em;
}

.banner-text-race {
  align-self: flex-end;
  padding: .5em;
  color: #fcfafa;
  font-size: 2rem;
  font-weight: 900;
  margin-bottom: 0;
  text-shadow: 5px 5px 10px black;
}

/* all games page */



.new-releases-games {
  display: flex;
  gap: 1em;
}

article {
  padding: 0 1em;
}

.read-more {
  display: block;
}


.new-releases-games > * {
  flex: 1;
}

.product-card-wrapper {
  display: flex;
}

.product-card img{
  width: 100%;
}

.special-offers,
.best-sellers,
.new-releases-games {
  padding: 1.5em 0 1.5em 0;
}

.all-games {
  margin-bottom: 3.5em;
  border-top: 1px solid #939292;
}

/* product page */

.content-wrap {
  display: flex;
}


.content-wrap > * {
  flex: 1;
}

.thumbnail-container {
  display: flex;
  width: 100%;
  gap: .5em;
  margin: 1em auto;
}

.article,
.product-image {
  padding: 2em 3em;
}

.product-image img,
.thumbnail-container img {
  width: 100%;
}

.container-rating {
  align-self: center;
  color: #F8A904;
}


.rating {
  display: flex;
  justify-content: space-between;
}

/*  shopping cart */

.cart {
  max-width: 800px;
  margin: auto;
}

.product-purchased {
  display: flex;
  background-color: #F3F0F0;
  padding: 1em;
  flex-wrap: wrap;
}

.product-purchased > * {
  flex: 1;
}

.product-purchased img {
  height: 100px;
}

.product {
  display: flex;
  align-items: center;
  gap: 2em;
}


.quantity {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.quantity-items,
.price {
  display: flex;
  align-items: center;
}

.quantity-btn {
  width: 2em;
  padding: 0.5em;
  border: 1px solid #D9D9D9;
  border-radius: 3px;
  font-weight: 700;
  color: #585757;
  cursor: pointer;
}

.quantity-items p,
 .price {
   padding: 0 1em;
   font-weight: 600;
}

.remove {
  padding: 0 1em;
  font-weight: 300;
  font-size: .8rem;
  text-decoration: underline;
  color: #d3161c;
  cursor: pointer;
}

/* form */

.product-purchased, 
form,
.payment,
.summary {
  box-shadow: var(--box-shadow);
}

.payment {
  background-color: #F3F0F0;
  padding: 1em;
}
.form-wrapper {
  margin: 2em 0;
  display: grid;
  grid-template: auto 1fr / repeat(2, 1fr);
  gap: 1em;
}


.form-wrapper h3 {
  text-align: center;
  margin: 1em 0;
}

.fa-brands {
  font-size: 3rem; 
  color: #252c52; 
  cursor: pointer;
}

.payment-container {
  display: flex;
  justify-content: space-around;
  margin: 2em 0;
}

form {
  background-color: #F3F0F0;
  padding: 1em;
  grid-row-start: 1;
  grid-row-end: 3;
}

input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    appearance: none;
    margin: 0; 
}
  

form label {
  font-size: 0.8rem;
  font-weight: 500;
}

form fieldset {
  border: none;
}


.form-wrap {
  display: flex;
  gap: 2em;
  justify-content: space-between;
}
  

form input {
  display: block;
  width: 100%;
  margin: .3em 0;
  padding: 1em;
  border: none;
  border-radius: 5px;
}
 
.summary {
  background-color: #F3F0F0;
  padding: 1em 2em;
}

.total,
.summary-elements {
  display: flex;
  justify-content: space-between;
  margin: 1em 0;
}

.total {
  border-top: 1px solid #706E6E;;
}

.cta-btn {
  display: block;
  text-align: center;
  margin: 0 1em;
}



/* order succsessful*/

.order-success {
  text-align: center;
  margin: 4em;
}

.vector {
  display: block;
  margin: auto;
  max-width: 5rem;
}

/* about us, contact us page */

.background-img {
  background: url(../assets/images/GameHub_Logo.png) no-repeat scroll center ;
  width: 100%;
  height: 50%;
  opacity: 6%;
  position: absolute;
  z-index: -1;
  transform: rotate(-7deg);
}

.contact,
.about {
  max-width: 800px;
  margin: auto;
}

.about {
  position: relative;

}

.about p {
  margin-top: 1em;
}

.about li {
  list-style-type: disc;
  margin: 0 3em;
}

.support-info {
  display: flex;
  gap: 1.2em;
  margin: 2em 3em;
}

.fa-envelope {
  align-self: flex-start;
  transform: rotate(-15deg);
}

.fa-phone {
  align-self: center;
  transform: rotate(-90deg);
}

.fa-envelope,
.fa-phone {
  font-size: 1.5rem;
  opacity: 25%;
}





/* footer */

.footer-container {
  background-image: linear-gradient( #c8c8ca, rgba(255,0,0,0));
  padding-top: 1em;
  margin-top: 6em;
}

footer {
  max-width: 1000px;
  margin: 1em auto;
  display: grid;
  gap: 2em;
  grid-template-columns: 30% auto;
}
  

footer img {
  max-width: 100%;
  padding: 1em 2em 1m 0;

}


.footer-social {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 2em;
  gap: 1em;
}

.footer-menu ul {
  max-width: 100%;
  padding: 0 2em 1.5em 2em ;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border-bottom: 1px solid #939292;
}


.social-media-icons i{
  color: #252c52;
  font-size: 2rem;
  margin: 0 .3em
}

footer input {
  padding: .8em 1.8em;
  border: none;
  border-radius: 5px;
  margin-right: .5em;
}

.subscribe {
  padding: .8em 2em;
  background-color: #d3161c;
  border: none;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #F3F0F0;
  border-radius: 5px;
}

.copyright {
  text-align: center;
  margin: .5em auto;

}