
@import url("./reset.css");
@import url("./variables.css");

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  background-color: #e9e7e7;
  color: #282727;
  line-height: 1.7rem;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

/* navigation */

header {
  max-width: 1000px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-wrap {
  background-image: linear-gradient( rgba(255,0,0,0), #d4d4d6);
  margin-bottom: 3em;
  margin-top: .5em;
}

nav {
  align-items: center;
}
  
nav ul {
  width: 100%;
}
  
.logo img {
  width: 100%;
  height: auto;
  max-width: 99px;
}

nav li {
  display: inline-block;
  padding: 0 1em;
}

.search {
  flex: 1;
  font-size: 1rem;
  margin: 0 2em;
  padding: 0.5em 0.3em;
  background: #e9e7e7;
  border-radius: 5px;
}

header label {
  display: none;
  font-size: 1.3rem;
  color: #5a5959;
}

#menu-checkbox {
  display: none;
}

#menu-checkbox:checked ~ nav {
  display: block;
}
  
.active {
  text-decoration: underline;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul a:hover {
  color: #373737;
  font-weight: 500;
  transition: 0.5s;
}

nav a,
footer a {
  color: #706E6E;
}

/* home page */

main {
  max-width: 1000px;
  margin: 0 auto;
}

.hero-img {
  background: url("../assets/images/herok.jpg") center top no-repeat;
  background-size: cover;
  box-shadow: var(--banner-shadow);
  margin: auto;
  min-height: 40vh;
  position: relative;
}

span {
  color: #f8bb59;
  font-size: 1.2rem;
  font-weight: 600;
}

.hero-img h1 {
  margin: 0.5em 0;
  color: #ffffff;
  font-size: 2rem;
  font-weight: bolder;
  max-width: 35%;
  letter-spacing: 1px;
  line-height: 1.4;
  text-shadow: 1px 1px 2px #000000, 0 0 25px #0000ff, 0 0 5px #00008b;
}

.hero-content {
  position: absolute;
  top: 5em;
  left: 4em;
}

.pre-order-btn {
  display: inline-block;
  margin-top: 2em auto;
  box-shadow: 0px 0px 8px 9px rgb(0, 0, 0, 0.2);
}

.hero-img-game {
  position: absolute;
  box-shadow: 0px 0px 9px 8px rgba(4, 0, 0, 0.2);
  max-width: 25%;
  top: 4em;
  right: 4em;
}

.new-releases {
  background-image: linear-gradient( to right, #1a588d , #a3542e, #335966);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: var(--banner-shadow);
}

.new-releases h3 {
  text-transform: uppercase;
  margin: 0;
  font-size: 1.5rem;
  color: #f8aa00;
}

.new-releases a {
  display: block;
  margin: 0 2em;
}

.short-description {
  display: none;
  font-size: 1.2rem;
  text-align: center;
}

.new-releases > * {
  flex: 1;
  text-align: center;
  align-items: center;
}

.light-text {
  color: #f5f5f5;
  text-shadow: 0px 0px 2px #6a6969;
}

.product-img img {
  display: block;
  width: 100%;
}

.container {
  display: flex;
  padding: 1.5em;
}
  
.new-releases img {
  width: 100%;
}
  
/* home page second section */
  
.wrap {
  margin: 3em auto;
  display: flex;
  gap: 1em;
}
  
.wrap img {
  width: 100%;
}

.wrap-one h2 {
  margin: 0;
}

.best-sellers,
.special-offers {
  display: flex;
  gap: 2em;
}

.product-card {
  background-color: #f3f0f0;
  box-shadow: var(--box-shadow);
  border-radius: 5px;
  padding: 1.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.black img{
  display: block;
}

.product-card h4 {
  margin: .5em 0;
}

.product-card p {
  font-weight: 500;
  margin-top: 0;
}

.sale {
  color: #d3161c;
}

.product-price {
  font-size: 1.5rem;
  font-weight: 500;
}

.add-to-cart {
  display: inline-flex;
  white-space: nowrap;
  background-image: linear-gradient(#2e3d9d, #cb55b0);
  color: #ffffff;
  padding: 0.5em 2em;
  border-radius: 5px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  position: relative;
  z-index: 1;
}

.add-to-cart::before {
  content: "";
  background-image: linear-gradient(#242660, #803875);
  border-radius: 5px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute;
  transition: opacity 0.4s ease-in-out;
  z-index: -1;
}

.add-to-cart:hover::before {
  opacity: 1;
}

.float {
  float: right;
  color: #5a5959;
}

.float:hover {
  color: #373737;
}

/* game banners */

.game-banner {
  margin: 3em auto;
}
  
.banner-wrapper {
  margin: 0 auto 1.5em auto;
  background-image: linear-gradient( to right, #1a588d , #a3542e, #335966);
  display: flex;
  justify-content: space-between;
  gap: 1em;
  align-items: center;
  box-shadow: var(--banner-shadow);
}

.banner-wrapper > * {
  flex: 1;
  text-align: left;
}

.banner-text-wrap {
  display: flex;
  align-items: center;
}

.banner-txt {
  color: #f8aa00;
  font-size: 3rem;
  margin-bottom: 1em;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-shadow: 0px 0px 2px rgb(5, 5, 5, 0.2);
}

.banner-text-wrap h4 {
  font-size: 2rem;
  margin: .5em 0;
  color: #000000;
  text-shadow: 0px 0px 2px rgba(208, 207, 207, 0.15);
}

.banner-text-wrap img {
  max-width: 100%;
}

.banner-text-wrap > * {
  flex: 1;
}

.banner-wrapper img {
  max-width: 100%;
  padding: 1.5em;
}

.game-banner-racing {
  background: url(../assets/images/racing.jpg) center no-repeat;
  background-size: cover;
  max-height: 250px;
  margin: 6em auto 1.5em auto;
  display: flex;
  justify-content: space-between;
  box-shadow: var(--banner-shadow);
  background-position: center calc(100% - -95px);
}

.game-banner-racing img {
  max-height: 250px;
  padding: 1em;
}

.banner-text-race {
  align-self: flex-end;
  padding: .5em;
  color: #fcfafa;
  font-size: 2rem;
  font-weight: 900;
  margin-bottom: 0;
  text-shadow: 5px 5px 10px #000000;
}

/* all games page */

.new-releases-games {
  display: flex;
  gap: 1em;
}

article {
  padding: 0 1em;
}

.read-more {
  display: block;
  color: #706e6e;
}

.read-more:hover,
.read-more:active {
  color: #273386;
  font-size: 1.05rem;
  transition: all 1s ease-out 0.1s;
}

.new-releases-games > * {
  flex: 1;
}

.product-card-wrapper {
  display: flex;
}

.product-card img{
  width: 100%;
}

.special-offers,
.best-sellers,
.new-releases-games {
  padding: 1.5em 0 1.5em 0;
}

.all-games {
  margin-bottom: 3.5em;
  border-top: 1px solid #939292;
}

/* specific product page */

.content-wrap {
  display: flex;
}

.content-wrap > * {
  flex: 1;
}

.thumbnail-container {
  display: flex;
  width: 100%;
  gap: .5em;
  margin: 1em auto;
}

.product-image {
  padding: 2em 3em;
}

.article {
  padding: 1em 3em;
}

.article h2 {
  font-weight: 400;
}

.article h1 {
  font-size: 2.5rem;
}

.product-cta {
  display: inline-block;
  margin-top: 1em;
}

.product-image img,
.thumbnail-container img {
  width: 100%;
}

.container-rating {
  align-self: center;
  color: #f8a904;
}

.rating {
  display: flex;
  justify-content: space-between;
}

/*  shopping cart */

.cart {
  max-width: 800px;
  margin: auto;
}

.product-purchased {
  display: flex;
  background-color: #f3f0f0;
  padding: 1em;
}
  
.product-purchased > * {
  flex: 1;
}

.product-purchased img {
  height: 100px;
}

.quantity,
.product,
.quantity-items,
.price {
  display: flex;
  align-items: center;
}

.quantity {
  justify-content: space-around;
}

.product {
  gap: 2em;
}

.quantity-btn {
  width: 2em;
  padding: 0.5em;
  border: none;
  border-radius: 3px;
  font-weight: 700;
  cursor: pointer;
}

.quantity-items p,
.price {
  padding: 0 1em;
  font-weight: 600;
}

.remove {
  padding: 0 1em;
  font-weight: 300;
  font-size: .8rem;
  text-decoration: underline;
  color: #d3161c;
  cursor: pointer;
}

/* form */

.product-purchased, 
form,
.payment,
.summary {
  box-shadow: var(--box-shadow);
  background-color: var(--form-bg-color);
}

.payment {
  padding: 1em;
}

.form-wrapper {
  margin: 2em 0;
  display: grid;
  grid-template: auto 1fr / repeat(2, 1fr);
  gap: 1em;
}

.form-wrapper h3 {
  text-align: center;
  margin: 1em 0;
}

.fa-brands {
  font-size: 3rem; 
  color: #252c52; 
  cursor: pointer;
}

.payment-container {
  display: flex;
  justify-content: space-around;
  margin: 2em 0;
}

form {
  padding: 1em;
  grid-row-start: 1;
  grid-row-end: 3;
}

input[type=number]::-webkit-inner-spin-button { 
  -webkit-appearance: none;
  appearance: none;
  margin: 0; 
}

form label {
  font-size: 0.8rem;
  font-weight: 500;
}

form fieldset {
  border: none;
}

.form-wrap {
  display: flex;
  gap: 2em;
  justify-content: space-between;
}

form input {
  display: block;
  width: 100%;
  margin: .3em 0;
  padding: 1em;
  border: none;
  border-radius: 5px;
}

.summary {
  padding: 1em 2em;
}

.total,
.summary-elements {
  display: flex;
  justify-content: space-between;
  margin: 1em 0;
}

.total {
  border-top: 1px solid #706e6e;
}

.cta-btn {
  display: block;
  text-align: center;
  margin: 0 1em;
}

/* order succsessful */

.order-success {
  text-align: center;
  margin: 4em;
}

.vector {
  display: block;
  margin: auto;
  max-width: 5rem;
}

/* about us, contact us page */

.background-img {
  background: url(../assets/images/GameHub_Logo.png) no-repeat scroll center ;
  width: 100%;
  height: 80%;
  opacity: 6%;
  position: absolute;
  z-index: -1;
  transform: rotate(-7deg);
}

.contact,
.about {
  max-width: 800px;
  margin: auto;
}

.about {
  position: relative;
}

.about p {
  margin-top: 1em;
}

.about li {
  list-style-type: disc;
  margin: 0 3em;
}

.support-info {
  display: flex;
  gap: 1.2em;
  margin: 2em 3em;
}

.fa-envelope {
  align-self: flex-start;
  transform: rotate(-15deg);
}

.fa-phone {
  align-self: center;
  transform: rotate(-90deg);
}

.fa-envelope,
.fa-phone {
  color: #5a5959;
  font-size: 1.5rem;
  opacity: 25%;
}

/* footer */

.footer-container {
  background-image: linear-gradient( #c8c8ca, rgba(255,0,0,0));
  padding-top: 1em;
  margin-top: 6em;
}

footer {
  max-width: 1000px;
  margin: 1em auto;
  display: grid;
  gap: 2em;
  grid-template-columns: 30% auto;
}
  
footer img {
  max-width: 100%;
  padding: 1em 2em 1m 0;
}

.footer-social {
  display: flex;
  
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 2em;
  gap: 1em;
}

.footer-menu ul {
  max-width: 100%;
  padding: 0 2em 1.5em 2em ;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border-bottom: 1px solid #939292;
}

.social-media-icons i{
  color: #252c52;
  font-size: 2rem;
  margin: 0 .3em
}

input {
  padding: .8em 1.2em;
  border: none;
  border-radius: 5px;
  margin-right: .5em;
}

.cta-button {
  padding: .8em 2em;
  background-color: #d3161c;
  border: none;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  white-space: nowrap;
  color: #F3F0F0;
  border-radius: 5px;
}

.cta-button:hover {
  transition-duration: 0.4s;
  background-color: #990409;
}

.cta-button:active {
  background-color: #fce6e6;
  color: #990409;
}

.copyright {
  text-align: center;
  margin: .5em auto;
}
















  




  

 
















